<div class="main">
    <a [routerLink]="['/']">Home</a>
  <div class="details">
    <span class="ms-4 h2 car">Get all details for </span><span class="h2 car car-name">{{ carDetails?.modelName }}</span>
    <div class="d-flex m-4 info-h rounded-3" style="background-color: rgb(23, 22, 22);">
        <ul class="list-group list-group-flush rounded-2">
            <li class="list-group-item"><span class="m-text">Model year(MY): </span><span>{{ carDetails?.year }}</span></li>
            <li class="list-group-item"><span class="m-text">Rate per day: </span><span>{{ carDetails?.ratePerDay }}</span></li>
            <li class="list-group-item"><span class="m-text">Color: </span><span>{{ carDetails?.color }}</span></li>
            <li class="list-group-item"><span class="m-text">Owned by: </span><span>{{ carDetails?.ownerName }}</span></li>
            <li class="list-group-item"><span class="m-text">Contact: </span><span>{{ carDetails?.ownerContact }}</span></li>
            <li class="list-group-item"><span class="m-text">Condition: </span><span>{{ carDetails?.condition }}</span></li>

        </ul>
        <img [src]="carDetails?.imgName" class="rounded-1 ">
    </div>
    
  </div>

  <div class="rentForm">
    <h3 class="car ms-4">Are you Interested?</h3>

  <form class="ms-5" [formGroup]="rentedCar" (submit)="submitApplication()">
    <div class="row mb-3">
      <label for="buyerName" class="col-sm-2 col-form-label">Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="buyerName" formControlName="buyerName" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="noOfDays" class="col-sm-2 col-form-label">No. of days: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="noOfDays" formControlName="noOfDays" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="buyerContact" class="col-sm-2 col-form-label">Contact: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="buyerContact" formControlName="buyerContact" required>
      </div>
    </div>
   
    <button type="submit" class="btn btn-primary">Apply now</button>
  </form>
  </div>
  

  
</div>
