<h2>Get all details for {{carDetails?.modelName}}</h2>
<div></div>
<ul>
    <li>{{carDetails?.year}}</li>
    <li>{{carDetails?.ratePerDay}}</li>
    <li>{{carDetails?.color}}</li>
    <li>{{carDetails?.ownerName}}</li>
    <li>{{carDetails?.ownerContact}}</li>
    <li>{{carDetails?.condition}}</li>
</ul>

<h3>Are you Interested?</h3>
<form [formGroup]="rentedCar" (submit)="submitApplication()">
    <label for="buyerName">Name: </label>
    <input id="buyerName" type="text" formControlName="buyerName" required>

    <label for="noOfDays">No of days: </label>
    <input id="noOfDays" type="text" formControlName="noOfDays" required>

    <label for="buyerContact">Contact: </label>
    <input id="buyerContact" type="text" formControlName="buyerContact" required>
    
    <button type="submit" class="primary">Apply now</button>
</form>

<a [routerLink]="['/']">Home</a>