<div class="main">
    <div class="text-center mt-4">
        <span class="prime-h h1">Welcome to </span><span class="h1 prime-h prime-n">Prime Rentals</span>
        <h4 class="prime-s">RIDE IN STYLE</h4>
        </div>
        
        
        <form action="" class="form-group d-flex justify-content-center "> 
            <input type="text" placeholder="Enter car name" #filter class=" me-4 border rounded-5 form-control w-25 ">
            <button type="button" (click)="searchCar(filter.value)" class="btn btn-primary ms-lg-1 mt-1" >Search</button>
        </form>
        
        <div class="d-flex flex-wrap m-5">
            <div *ngFor="let car of filteredList" class="container-sm tab-s m-2 rounded-1 p-3 text-white-50" >
            <img [src]= "car.imgName" class="rounded-1"> 
            <p>Model Name: {{car.modelName}}</p>
            <p>Year: {{car.year}}</p>
            <p>Rate Per Day: ₹{{car.ratePerDay}}</p>
            <a [routerLink]="['/details', car.id]">Learn More</a>
            </div>
            
        </div>
        
</div>

