.main{
    margin: 0;padding: 0;
    background-color: whitesmoke;
    min-height: 100vh;
    min-width: 100vw;
    
}
.bt-fn{
    height: 35px;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
    font-weight: 500;

}
.active{
    background-color: rgb(114, 114, 201);
    color: whitesmoke;
    
}
.inactive{
    background-color: rgb(97, 85, 85);
    color: whitesmoke;
}

.add-btn{
    background-color: rgb(168, 26, 26);
}
.list{
   margin-left: 25vw;
}
button{
    font-size: 14px;
}